.pembayaran-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.pembayaran-tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.total-action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70%;
  padding: 0 16px;
}

.total-amount {
  font-size: 20px;
  font-weight: 700;
  color: #16a34a;
  white-space: nowrap;
}

.btn-bayar {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-bayar:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background: #fafafa;
  color: #000000;
}

.tab-btn {
  padding: 8px 18px;
  border-radius: 999px;
  border: 1px solid #2563eb;
  background: #ffffff;
  color: #2563eb;
  font-size: 13px;
  cursor: pointer;
}

.tab-btn.active {
  background: #2563eb;
  color: #ffffff;
  border-color: #2563eb;
}

.pembayaran-layout {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 16px;
}

.pembayaran-left,
.pembayaran-right {
  background: #ffffff;
  border-radius: 14px;
  padding: 16px;
  border: 1px solid #e5e7eb;
}

.foto-placeholder {
  height: 160px;
  border-radius: 12px;
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
  margin-bottom: 12px;
}

.status.unpaid {
  background: #fee2e2;
  color: #991b1b;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 11px;
}

.status.paid {
  background: #dcfce7;
  color: #166534;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 11px;
}

.total-bar {
  text-align: right;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
}

.diskon-input {
  width: 60px;
}

.objek-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info-row {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: flex-start;
  font-size: 13px;
}

.info-label {
  font-weight: 600;
  color: #334155;
}

.info-label::after {
  content: ":";
  margin-left: 2px;
}

.info-value {
  color: #0f172a;
}

/* ROW STATUS */
.row-paid {
  background-color: #f1f5f9; /* abu soft */
  color: #64748b;
  opacity: 0.8;
}

/* disable semua input di row paid */
.row-paid input {
  pointer-events: none;
  opacity: 0.6;
}

/* hover tidak aktif */
.row-paid:hover {
  background-color: #f1f5f9;
}

/* unpaid tetap normal */
.row-unpaid {
  background-color: #ffffff;
}
